<!DOCTYPE html>
<html lang="es">
<head>
    <title>YelpCamp</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="./public/styles.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: white; margin-left: 20px;" href="/">YelpCamp</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link text-white-50" href="/">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-50" href="/">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-50" href="/">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
